# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/.pnp
.pnp.js
.yarn

# misc

.DS_Store
\*.pem

# files

my-plugin
dev-plugin
dist

# debug

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# local env files

.env\*.local
.env
.env.*
!.env.example

# deployment

.vercel

# editor and temp files

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# Packed plugin

plugin.zip
